.master-element{
    min-height: 30px;
    padding: 10px;  
    border: 1px solid ghostwhite;

    &-name{
        padding: 10px;
    }

    &-url{
        padding: 10px;
    }

    &-show-contributors{
        padding: 5px;
        cursor: pointer;
    }
}